.App {
  display: flex;
  flex-direction: row;
}

.left {
  margin: 0rem 3rem;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
 
}

.App p {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: pink;
}


.movie-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-form input {
  width: 10.5rem;
  margin: .10rem;
}

.movie-form select {
  width: 11rem;
  margin: .10rem;
}

.movie-form button {

}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: black 1px solid;
  margin: .5rem;
  text-align: center;
  height: 9rem;
  width: 7rem;
  padding: 2rem;
}

.movie p {
  padding: .25rem;
  margin: 0;
}