.App {
  display: flex;
  flex-direction: column;
}
.top {
  background-color: rgb(235, 231, 232);
}

.top h2 {
  margin-left: 2rem;
  text-transform: lowercase;
}

.bottom{
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0rem 3rem;
}

.right {
  margin: 0rem 3rem;
  width: 80%;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: center;
  margin-top: .5rem;
}

.App p {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: grey;
}

.movie-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-form input {
  width: 10.5rem;
  margin: .10rem;
}

.movie-form select {
  width: 11rem;
  margin: .10rem;
}

.movie-form button {
  background-color: white;
  border: grey 1px solid;
  margin: .10rem;

}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: grey 1px solid;
  margin: .5rem 0rem .5rem .5rem;
  text-align: center;
  height: 9rem;
  width: 7rem;
  padding: 2rem;
}

.movie p {
  padding: .25rem;
  margin: 0;
}